#description-photo-container{
    position: relative;
    width: 100%;
}
.description-photo{
    max-width: 50%;
    margin: auto;
}

#pensativo-on{
    position: absolute;
    top:0;
    left:0;
    right:0;
    transition-delay: 0.5s;
    transition-timing-function: cubic-bezier(.14,1.95,.67,-0.59);
    opacity: 0;
}

#pensativo-on.on{
    transition-duration: 1s;
    opacity: 1;
}
