.exp-thumbnail{
    max-width: 80%;
    max-height: 70%;
}
.exp-image{
    max-width: 80%;
    max-height: 50vh;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.exp-image-container{
    max-height: 60vh;
    min-height: 30vh;
}

.experience-container{
    height: 100%;
}

/* .modal-backdrop {
    background: none;
 } */