.automation-logo{
    background-image: url("/imgs/cctv.svg") ;
    /* background-image: url("//imgs/cctv.svg") ; */
}
.websocket-logo{
    background-image: url("/imgs/websocket.svg") ;
    /* background-image: url("//imgs/cctv.svg") ; */
}
.mqtt-logo{
    background-image: url("/imgs/mqtt.png") ;
    /* background-image: url("//imgs/cctv.svg") ; */
}
.web-dev-logo{
    background-image: url("/imgs/development.svg") ;
}
.consultory-logo{
    background-image: url("/imgs/engeneering.svg") ;
}
.data-logo{
    background-image: url("/imgs/file.svg") ;
}
.html-logo{
    background-image: url("/imgs/html.svg") ;
}
.css-logo{
    background-image: url("/imgs/css.svg") ;
}
.javascript-logo{
    background-image: url("/imgs/javascript.svg") ;
}
.node-logo{
    background-image: url("/imgs/node.svg") ;
}
.php-logo{
    background-image: url("/imgs/php.svg") ;
}
.c-logo{
    background-image: url("/imgs/cpp.svg") ;
}
.arduino-logo{
    background-image: url("/imgs/arduino.svg") ;
}
.raspberry-logo{
    background-image: url("/imgs/raspberry.svg") ;
}
.python-logo{
    background-image: url("/imgs/python.svg") ;
}
.wordpress-logo{
    background-image: url("/imgs/wordpress.svg") ;
}
.laravel-logo{
    background-image: url("/imgs/laravel.svg") ;
}
.django-logo{
    background-image: url("/imgs/django.png") ;
}
.react-logo{
    background-image: url("/imgs/react.svg") ;
}
.photoshop-logo{
    background-image: url("/imgs/photoshop.svg") ;
}
.blender-logo{
    background-image: url("/imgs/blender.svg") ;
}
.solidworks-logo{
    background-image: url("/imgs/solidworks.svg") ;
}
.oracle-logo{
    background-image: url("/imgs/oracle.png") ;
}
.mongo-logo{
    background-image: url("/imgs/mongo.svg") ;
}
.mysql-logo{
    background-image: url("/imgs/mysql.svg") ;
}
.autocad-logo{
    background-image: url("/imgs/autocad.png") ;
}
        

.logo{
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    align-self: start;    
    width: 100%;
    background-color: white;
    /* filter: grayscale(100%); */
    /* mix-blend-mode: lighten; */
}

/* .technology{
    background: blue;
} */

.logo-label{
    display: flex;
    align-items: center;
    /* background: white; */
    
}

.services{
    height: 100%;
}

.service,.technology{
    width: 100%;
    display: flex;
    justify-items: center;
    /* background-color: aqua; */
}

.technology{
    align-items: center;
    
}

.service{
    align-items: stretch;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    background: var(--primary);
}

.service:hover{
    background: var(--p-light);
}

@media (orientation: portrait) {
    .logo{
        flex-grow: 1;
        flex-basis: 30%;
        padding-top: 20%;
        background-size: contain;
    }
    
    .service{
        
        height: 100%;
        flex-direction: row;
        /* background-color: aqua; */
    }

    .technology{
        flex-direction: column;
    }

    .services-list{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 100%;
        width: 90%;
        justify-content: start;
        padding-left: 10px;
    }

    .technologies-list{
        grid-template-columns: repeat(3, 1fr);
    }

    .label{
        flex: 4;
        /* padding-left: 10%; */
        flex-basis: 70%;
    }
}



@media (orientation: landscape) {

    button.service{
        padding: 5px;
    }

    .logo{
        flex-grow: 2;
        background-size: 80%;
    }
    .service,.technology{
        flex-direction: column;
        /* background-color: aqua; */
    }
    .services-list{
        grid-template-columns: repeat(4, 1fr);
        height: 70%;
    }

    .technologies-list{
        grid-template-columns: repeat(6, 1fr);
    }

    .label{
        flex: 1;
        justify-content: center;
        text-align: center;
    }
}


@media (orientation: landscape) and (max-width: 960px) {
    .label{
        font-size: 0.8em;
    }
}

.services-wrapper{
    overflow-y: scroll;
    height: 100%;
}

.technologies-list{
    height: 100%;
    padding: 0;
}

.services-list, .technologies-list{
    /* background-color: blue; */
    display: grid;
    justify-items: center;
    grid-gap: 20px;
}

.technologies-list .logo{
    padding-bottom: 30%;
    background-size: contain;
    margin-bottom: 5%;
}



